<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="characters" class="nav-link">Characters</a>
      </li>
      <li class="nav-item">
        <a routerLink="movies" class="nav-link">Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-character" class="nav-link">+ Character</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-movie" class="nav-link">+ Movie</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

